.table
  tbody
    tr
      display :none;
    tr.currentPage
      display :table-row
.page
  a
    padding:5px;
    text-decoration none;
  a:hover
    cursor:hand
  .pageIndex-current
    color:red;