.btn-save
  margin-right:1em;
  margin-bottom:1em;
  float:right;
.btn-reflash
  margin-right:1em;
  margin-bottom:1em;
  float:right;
.error-item
  padding:0.5em;
  color:red;
.tr-red
  color:red;
.tr-green
  color:green;
